version: "3.8"

services:
  nats:
    image: nats:latest
    container_name: nats-jetstream
    ports:
      - "4222:4222" # Client
      - "8222:8222" # Monitoring
      - "6222:6222" # Cluster
    volumes:
      - ./nats-server.conf:/etc/nats/nats-server.conf:ro
      - ./natslog:/data # Chứa dữ liệu JetStream
    command: ["-c", "/etc/nats/nats-server.conf"]
    restart: unless-stopped
  sqldb_server:
    image: postgres:latest
    container_name: order_database
    ports:
      - "5432:5432"
    # volumes:
    #   - ./order_database:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=order
    restart: unless-stopped

  mongo_server:
    image: mongo:latest
    container_name: user_database
    restart: unless-stopped
    ports:
      - "27018:27017"
    environment:
      - MONGO_INITDB_ROOT_USERNAME=admin
      - MONGO_INITDB_ROOT_PASSWORD=admin
    # volumes:
    #   - mongo-data:/data/db

  nats_auth:
    image: hkdarealest/nats_auth:0.1.45
    container_name: nats_auth
    restart: unless-stopped
    depends_on:
      - nats
    env_file:
      - ../.env
    environment:
      NATS_AUTH_NATS_URL: nats://nats:4222

  redis:
    image: redis:latest
    container_name: redis_server
    ports:
      - "6379:6379"
    restart: unless-stopped
