general_config:
  backend_endpoint: "http://localhost:8080"
  frontend_user_endpoint: "http://localhost:3000"
  frontent_admin_endpoint: "http://localhost:3001"
nats_auth:
  auth_callout_subject: "$SYS.REQ.USER.AUTH"
  nats_url: "nats://localhost:4222"
  nats_apps:
    - username: "app"
      password: "app"
      account: "APP"
    - username: "admin"
      password: "admin"
      account: "ADMIN"
    - username: "auth"
      password: "auth"
      account: "AUTH"
  xkey_private: "XKEY_PRIVATE"
  xkey_public: "XAIQQJE4ESQULXOYQXCVVIJEFOO54HGKMM6JMER7IIOHC3TVPJAXN2R6"
  issuer: "AA7IEJQVWCOXH5QEWEKE34XLJR4OOZG6WTU6TRNTR3EMHCQZ4IQMFL6G"
  issuer_private: "ISSUER_PRIVATE"
service_registry:
  request_timeout: 30s
apigateway:
  port: "8080"
order_database:
  host: "localhost"
  port: "5432"
  user: "postgres"
  password: "postgres"
  dbname: "order"
redis:
  address: "localhost"
  port: "6379"
  max_idle: 9
zitadel_configs:
  client_id: "YOUR_ZITADEL_CLIENT_ID"
  redirect_uri: "YOUR_REDIRECT_URI"
  authorization_endpoint: "https://e-commerce-golang-project-icglms.us1.zitadel.cloud/oauth/v2/authorize"
  endsession_endpoint: "https://e-commerce-golang-project-icglms.us1.zitadel.cloud/oidc/v1/end_session"
  introspection_endpoint: "https://e-commerce-golang-project-icglms.us1.zitadel.cloud/oauth/v2/introspect"
  token_endpoint: "https://e-commerce-golang-project-icglms.us1.zitadel.cloud/oauth/v2/token"
  userinfo_endpoint: "https://e-commerce-golang-project-icglms.us1.zitadel.cloud/oidc/v1/userinfo"
  auth_domain: "https://e-commerce-golang-project-icglms.us1.zitadel.cloud"
  api_key_base64: "YOUR_API_KEY_BASE64"
  encrypt_key: "YOUR_ENCRYPT_KEY"
  cookie_name: "ecommerce-cookie"
  session_expired_seconds: 604800 # 1 week
auth_token:
  rsa_key_pair_file_path: "apps/auth/resources/rsa-key-pair.pem"
  rsa_public_key_file_path: "apps/auth/resources/rsa-public.pem"
