general_config:
  backend_endpoint: "http://localhost:8080"
  frontend_user_endpoint: "http://localhost:3000"
  frontent_admin_endpoint: "http://localhost:3001"
nats_auth:
  auth_callout_subject: "$SYS.REQ.USER.AUTH"
  nats_url: "nats://localhost:4222"
  nats_apps:
    - username: "app"
      password: "app"
      account: "APP"
    - username: "admin"
      password: "admin"
      account: "ADMIN"
    - username: "auth"
      password: "auth"
      account: "AUTH"
  xkey_private: "XKEY_PRIVATE"
  xkey_public: "XAIQQJE4ESQULXOYQXCVVIJEFOO54HGKMM6JMER7IIOHC3TVPJAXN2R6"
  issuer: "AA7IEJQVWCOXH5QEWEKE34XLJR4OOZG6WTU6TRNTR3EMHCQZ4IQMFL6G"
  issuer_private: "ISSUER_PRIVATE"
service_registry:
  request_timeout: 30s
apigateway:
  port: "8080"
order_database:
  host: "localhost"
  port: "5432"
  user: "postgres"
  password: "postgres"
  dbname: "order"
redis:
  address: "localhost"
  port: "6379"
  max_idle: 9
zitadel_configs:
  client_id: "YOUR_ZITADEL_CLIENT_ID"
  redirect_uri: "YOUR_REDIRECT_URI"
  authorization_endpoint: "https://e-commerce-golang-project-icglms.us1.zitadel.cloud/oauth/v2/authorize"
  endsession_endpoint: "https://e-commerce-golang-project-icglms.us1.zitadel.cloud/oidc/v1/end_session"
  introspection_endpoint: "https://e-commerce-golang-project-icglms.us1.zitadel.cloud/oauth/v2/introspect"
  token_endpoint: "https://e-commerce-golang-project-icglms.us1.zitadel.cloud/oauth/v2/token"
  userinfo_endpoint: "https://e-commerce-golang-project-icglms.us1.zitadel.cloud/oidc/v1/userinfo"
  auth_domain: "https://e-commerce-golang-project-icglms.us1.zitadel.cloud"
  api_key_base64: "YOUR_API_KEY_BASE64"
  encrypt_key: "YOUR_ENCRYPT_KEY"
  cookie_name: "ecommerce-cookie"
  session_expired_seconds: 604800 # 1 week
auth_token:
  rsa_key_pair_file_path: "apps/auth/resources/rsa-key-pair.pem"
  rsa_public_key_file_path: "apps/auth/resources/rsa-public.pem"

circuit_breaker:
  defaults:
    # MaxRequests is the maximum number of requests allowed to pass through when the CircuitBreaker is half-open.
    # If MaxRequests is 0, the CircuitBreaker allows only 1 request.
    max_requests: 3

    #Interval is the cyclic period of the closed state for the CircuitBreaker to clear the internal Counts.
    #If Interval is less than or equal to 0, the CircuitBreaker does not clear internal Counts during the closed state.
    interval: 60 # seconds

    #Timeout is the period of the open state, after which the state of the CircuitBreaker becomes half-open.
    #If Timeout is less than or equal to 0, the timeout value of the CircuitBreaker is set to 60 seconds.
    timeout: 120 # seconds

    failure_threshold: 5 # Number of failures to open circuit
    failure_rate_threshold: 0.6 # Failure rate (60%) to open circuit
    min_requests: 10 # Minimum requests before calculating rate

  nats:
    services:
      auth:
        max_requests: 3
        interval: 30
        timeout: 20
        failure_threshold: 3
        failure_rate_threshold: 0.4
        min_requests: 10
      order:
        max_requests: 3
        interval: 30
        timeout: 20
        failure_threshold: 3
        failure_rate_threshold: 0.4
        min_requests: 10
  databases:
    max_requests: 3
    interval: 30
    timeout: 20
    failure_threshold: 5
    failure_rate_threshold: 0.4
    min_requests: 10
    separate_read_write: true
    fallback_to_memory: true # for redis
  external_apis:
    zitadel:
      max_requests: 3
      interval: 30
      timeout: 20
      failure_threshold: 5
      failure_rate_threshold: 0.4
      min_requests: 10
